<div class="eventbrite-listings">
    <div class="events-status">
        <div class="events-category">
            <h3 class="category-name">{{ event_title }} ({{ events.length }})</h3>
            {% if description != false %}
                <p>{{ description }}</p>
            {% endif %}
            <div class="arrows-wrapper">
                <h1
                    class="arrow section-title"
                    style="padding-right: 10px;"
                    onclick="scrollEvents(event, false)">&#x25C0;&#xFE0E;</h1>
                <div class="events-wrapper">
                    {% for event in events %}
                        <div class="event-info">
                            <div class="event-content">
                                <h4 class="event-name">{{ event.name }}</h4>
                                <p class="date">{{ event.display_date }}</p>
                                <p class="description">{{ event.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <h1
                    class="arrow section-title"
                    style="padding-left: 10px;"
                    onclick="scrollEvents(event, true)">&#x25B6;&#xFE0E;</h1>
            </div>
        </div>
    </div>
</div>

<script src="/scripts/events.js"></script>